@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

h3.title {
  min-width: 320px;
  padding: 1rem 0 1rem;
  margin: 0.5rem 1rem 0 1rem;
  text-align: center;
  border: 0.3rem solid #deb887;
  border-radius: 0.3rem;
  background: #deb887;
  color: #866840;
  height: 6rem;
  font-family: "Fredoka", sans-serif;
}

body {
  padding: 0.4rem 0 0.4rem;
}

main {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  height: 85%;
  width: 100%;
}

.addButton {
  min-width: 100px;
  margin: 0 0 0 0.6rem;
  padding: 10px 10px 10px 10px;
  background: rgb(100, 91, 177);
  color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.addButton:hover {
  background: purple;
  color: rgb(255, 255, 255);
}

.submitButton {
  padding: 10px 10px;
  background: violet;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  margin-top: 30px;
}

.submitButton:hover {
  background: purple;
}

.label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  padding-left: 6px;
  color: #1b1428;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  outline: none;
  border: 0.2rem solid rgb(216, 162, 255);
  border-radius: 10px;
}

.input:focus {
  border-color: purple;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 14, 43, 0.8);
  z-index: 10;
}

.modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  width: 300px;
  background-color: white;
  box-shadow: 0 0 1rem #1b1428;
  border-radius: 10px;
  z-index: 11;
  padding: 20px;
}

.modalClose {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 20px 20px 0;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  z-index: 12;
  color: plum;
  border: none;
  background: none;
}

.modalClose:hover {
  transform: scale(1.2);
  color: purple;
}

.flavor {
  flex-shrink: 0;
  max-width: 120px;
  min-width: 8rem;
  flex-flow: row nowrap;
  padding-top: 1rem;
  margin: 1rem;
  border: 0.3rem solid #e6e6fa;
  border-radius: 0.3rem;
  background: #e6e6fa;
}
.flavor > a {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(109, 105, 105);
  padding: 0.5rem 0 0 1rem;
  margin-top: 10px;
}

.menus {
  overflow-y: scroll;
  width: 95%;
  min-width: 8rem;
  height: 100%;
  margin: 1rem;
  border: 0.2rem solid #e2c8d1;
  border-radius: 0.3rem;
  background: #e2c8d1;
}

.menu {
  border-radius: 0.3rem;
  margin: 0.8rem 0.2rem 0 0.8rem;
  padding: 0.8rem;
  background: #fff0f5;
  display: inline-block;
  box-shadow: 0.2rem 0.2rem 0.5rem #cfadb9;
}

.menu > h3 {
  margin: 0.5rem 0 0.5rem 0.2rem;
}

.menu > p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.5rem 0 0.5rem 0.2rem;
}

.image {
  height: 200px;
  width: 160px;
  image-rendering: auto;
  border-radius: 0.3rem;
}

.author {
  color: gray;
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

@media (max-width: 1500px) {
  .menu {
    background: #e0ffc3;
  }
}

@media (max-width: 1000px) {
  .menu {
    background: #ffeaf1;
  }
}

@media (max-width: 700px) {
  .menu {
    background: #b4beff;
  }
}

@media (max-width: 320px) {
  .menu {
    background: #e7e18a;
  }
}
